/* /styles/home/Sidebar.module.css */

/* Sidebar fixa na tela */
.sidebar {
    position: fixed; /* A sidebar vai ser fixa na tela */
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    background-color: #333;
    color: white;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Sombra para dar um efeito de destaque */
    transition: transform 0.3s ease;
    z-index: 1000; /* Garante que a sidebar fique acima de outros elementos */
  }
  
  /* Sidebar visível no desktop (permanente) */
  @media (min-width: 768px) {
    .sidebar {
      transform: none;
      left: 0;
    }
  
    .toggleButton {
      display: none; /* Esconde o botão de toggle no desktop */
    }
  }
  
  /* Para dispositivos móveis, o botão de toggle aparece */
  @media (max-width: 767px) {
    .sidebar {
      transform: translateX(-250px); /* A sidebar começa fora da tela */
      left: 0;
    }
  
    .sidebar.open {
      transform: translateX(0); /* Move a sidebar para dentro da tela */
    }
  
    .toggleButton {
      position: absolute;
      top: 20px;
      left: 10px;
      background-color: #3b82f6;
      color: white;
      border: none;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      transition: transform 0.3s ease;
    }
  }
  
  .nav ul {
    list-style: none;
    padding: 0;
  }
  
  .nav ul li {
    padding: 10px;
  }
  
  .nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
  }
  
  .nav ul li a:hover {
    background-color: #444; /* Altera a cor de fundo ao passar o mouse */
  }
  