.sidebar {
  position: fixed; 
  top: 0;
  left: 0;
  width: 240px;
  height: 100vh;
  background-color: var(--background-sidebar);
  color: var(--foreground);
  padding: 16px;
  transition: transform 0.3s ease;
  z-index: 1000; 
}

@media (min-width: 768px) {
  .sidebar {
    transform: none;
    left: 0;
  }

  .toggleButtonClose,
  .toggleButtonOpen {
    display: none; 
  }
}

@media (max-width: 767px) {
  .sidebar {
    transform: translateX(-250px);
    left: 0;
    box-shadow: 2px 0 15px rgba(0, 0, 0, 0.25);
  }

  .sidebar.open {
    transform: translateX(0); 
  }

  .toggleButtonClose {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 1.5%;
    right: 0;
    background-color: transparent;
    stroke: var(--foreground);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1100;
  }

  .toggleButtonOpen {
    position: absolute;
    top: 1.8%;
    left: 2.5%;
    color: var(--foreground);
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 40px;
    stroke: var(--foreground);
    z-index: 910;
  }
}

.logoAdminObs {
  margin-bottom: 14px;
}

.menuTitle {
  color: var(--foreground);
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.nav {
  margin-bottom: 20px;
}

.nav ul {
  list-style: none;
  padding: 0;
}

.nav ul li a {
  color: var(--foreground); 
  text-decoration: none;
  display: block;
  padding: 16px;
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 500;
  transition: background-color 0.3s ease; 
}

.nav ul li a:hover {
  background-color: var(--item-sidebar-hover); 
}

.nav ul li a.activeLink {
  background-color: var(--item-sidebar-activated); 
  font-weight: 600;
}


