 .contentSectionNews {
    padding: 24px 16px 0 16px;
    top: 57px;
    min-height: auto;
    position: absolute;
    overflow-y: auto;
    left: 0;
    right: 0;
    bottom: 0;  
  }

  .tabButtons {
    padding: 0 4px;
    margin-bottom: 16px;
  }

  .buttonsTabContent {
    display: flex;
    padding-block: calc(var(16px)/2);
    flex-wrap: nowrap;
    gap: 16px 8px;
  }

  .tabButton {
    font-size: 1rem;
    color: var(--foreground);
    padding: 2px 8px;
    border: 1px solid var(--foreground);
    border-radius: 7px;
  }
  
  .tabButton:hover {
    background-color: var(--item-hover);
  }

  .createNewsForm {
    max-width: 600px;
    margin: 0 auto;
  }

  .newsList {
    margin-top: 20px;
  }
  
  .newsItem {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
  }
  
  .newsItem h3 {
    font-size: 1.5rem;
  }
  
  .newsItem p {
    color: #555;
  }
  
  .newsItem button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .newsItem button:hover {
    background-color: #0056b3;
  }
  
  .newsItem button:last-child {
    background-color: #dc3545;
  }
  
  .newsItem button:last-child:hover {
    background-color: #c82333;
  }

  .successMessage {
    color: #065f46;
    background-color: #d1fae5;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: fixed;
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 0.5s forwards, fadeOut 0.5s forwards;
    animation-delay: 0s, 2.5s;
  }
  
  .errorMessage {
    color: #b91c1c;
    background-color: #fee2e2;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    opacity: 0;
    animation: fadeIn 0.5s forwards, fadeOut 0.5s forwards;
    animation-delay: 0s, 2.5s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .activeTab {
    background-color: var(--tab-color);
    font-size: 1rem;
    color: var(--tab-text-color);
    padding: 2px 8px;
    border: 1px solid var(--tab-color);
    border-radius: 7px;
  }

  .activeTab:hover {
    background-color: var(--tab-color);
  }
  
  