.contentSectionNews {
  min-height: auto;
  overflow-y: auto;
}

.newsCardsContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.newsCard {
  border-width: 1px;
  border-radius: var(--radius);
}

.newsCardHeader {
  padding: 1.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.newsCardHeader h3 {
  letter-spacing: -0.025em;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.newsCardHeader svg {
  width: 1rem;
  height: 1rem;
  color: var(--muted-foreground);
}

.iconInactive {
  width: 0.9rem;
  height: 0.9rem;
  fill: var(--muted-foreground);
}

.newsCardContent {
  padding: 1.5rem;
    padding-top: 0px;
}

.newsCardContent p {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.newsList {
  border-width: 1px;
  border-radius: var(--radius);
  margin-top: 1rem;
}

.newsListHeader {
  padding: 1.5rem;
}

.newsListHeader > *:not(:last-child) {
  margin-bottom: 0.375rem;
}

.newsListHeader h3 {
  letter-spacing: -0.025em;
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 600;
}

.newsListHeader p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--muted-foreground);
}

.newsListContainer {
  padding: 1.5rem;
  padding-top: 0;
}
  
.newsItem {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
}
  
  .newsItem h3 {
    font-size: 1.5rem;
  }
  
  .newsItem p {
    color: #555;
  }
  
  .newsItem button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .newsItem button:hover {
    background-color: #0056b3;
  }
  
  .newsItem button:last-child {
    background-color: #dc3545;
  }
  
  .newsItem button:last-child:hover {
    background-color: #c82333;
  }

.successMessage {
  position: absolute;
  bottom: 0;
  right: 1.5rem;
  color: #065f46;
  background-color: #d1fae5;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: fixed;
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 0.5s forwards, fadeOut 0.5s forwards;
  animation-delay: 0s, 2.5s;
}

.errorMessage {
  color: #b91c1c;
  background-color: #fee2e2;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  opacity: 0;
  animation: fadeIn 0.5s forwards, fadeOut 0.5s forwards;
  animation-delay: 0s, 2.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modalContainer {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 1rem;
}
  
  