:root {
  --background: #ffffff;
  --foreground: #4b4b4b;

  --backgroundSecondary: #f0f4f9;

  /* Sidebar */
  --background-sidebar: #f0f4f9;
  --item-sidebar-hover: #dfe3e7;
  --item-sidebar-activated: #c2e7ff;

  /* Headbar */
  --background-headbar: #f0f4f9;
  --fill-icons: #4b4b4b;

  --gray-border: rgb(196,199,197);

  /* Gradient Button */
  --gradient: linear-gradient(to right, #3b82f6, #1d4ed8);

  /* Login Form */
  --background-login-form: #f0f0f0;

  --item-hover: #f0f1f0;
  
  /* Create News */
  --image-input-hover: #dfe3e7;

  /* News List */
  --card-list-news: #ffffff;
  --card-news-title: #1a1a1a;
  --card-news-date: #666;
  --card-news-description: #333;
  --card-news-actions: #f9fafb;
  --card-news-border: #e5e7eb;
  --edit-button-background: #e0f2fe;
  --edit-button-text: #0369a1;
  --edit-button-hover: #bae6fd;
  --delete-button-background: #fee2e2;
  --delete-button-hover: #fecaca;
  --delete-button-text: #b91c1c;
  --input-search-background: #e9eef6;
  --input-search-icon: #444746;

    /* Tab News Page */
    --tab-color: #c2e7ff;
    --tab-text-color: #001d35;

    --background-button-disabled: #d1d5db;
    --text-button-disabled: #9ca3af;
}

/* Estilos para o modo escuro */
body.dark-mode {
  --background: #151515; /* Cor de fundo do modo escuro */
  --foreground: #c4c7c5; /* Cor de texto do modo escuro */

  --backgroundSecondary: #1e1f20;

  /* sidebar */
  --background-sidebar: #1e1f20;
  --item-sidebar-hover: #3a3a3a;
  --item-sidebar-activated: #555555;

  /* headbar */
  --background-headbar: #1e1f20;
  --fill-icons: #ffffff;

  --gray-border: #444746;

  --gradient: linear-gradient(to right,#f97316,#c2410c);

  /* login form */
  --background-login-form: #272727;

  --item-hover: #202121;

  /* Create News */
  --image-input-hover: #2e2e2e;

  /* News List */
  --card-list-news: #272727;
  --card-news-title: #f5f5f5;
  --card-news-date: #dbdbdb;
  --card-news-description: #c4c7c5;
  --card-news-actions: #1e1f20;
  --card-news-border: #444746;
  --edit-button-background: #1562bb;
  --edit-button-text: #fff;
  --edit-button-hover: #14549e;
  --delete-button-background: #bb2115;
  --delete-button-hover: #9e1414;
  --delete-button-text: #fff;
  --input-search-background: #282a2c;
  --input-search-icon: #c4c7c5;

  /* Tab News Page */
  --tab-color: #004a77;
  --tab-text-color: #c2e7ff;

  --background-button-disabled: #444746;
  --text-button-disabled: #9ca3af;
}

/* Estilos gerais para o HTML e Body */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground); /* Aplica a cor do texto com base na variável */
  background: var(--background-headbar); /* Aplica o fundo com base na variável */
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset de estilos para todos os elementos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Links e âncoras */
a {
  color: inherit;
  text-decoration: none;
}

/* Ajuste no esquema de cores ao detectar modo escuro no sistema */
@media (prefers-color-scheme: dark) {
  body.dark-mode {
    background-color: var(--background-headbar);
  }
}

/* Estilos adicionais para o modo escuro */
body.dark-mode .sidebar {
  background-color: #272727;
  color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

body.dark-mode .nav ul li a {
  color: white;
}

body.dark-mode .nav ul li a:hover {
  background-color: #3a3a3a; /* Efeito de hover no modo escuro */
}

body.dark-mode .nav ul li a.activeLink {
  background-color: #555555;
}

/* Outros estilos gerais do layout */
button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

input {
  font-family: 'Poppins', sans-serif;
}

body.dark-mode input, textarea{
  color: var(--foreground);
}
