.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9fafb;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px; 
    background-color: var(--white);
    border-radius: var(--radius);
    border-width: 1px;
    max-width: 28rem;
    width: 100%;
}

.logoContainer {
    padding: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoContainer > *:not(:first-child) {
    margin-top: .375rem;
}

.logoObsLogin {
    width: 6rem;
    pointer-events: none; 
    user-select: none; 
    -webkit-user-drag: none;
    margin-bottom: 0.5rem;
}

.logoContainer h3 {
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    line-height: 2rem;
    letter-spacing: -0.025em;
}

.logoContainer p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    color: var(--muted-foreground);
}

.inputContainer {
    padding: 1.5rem;
    padding-top: 0px;
    width: 100%;
}

.inputContainer > *:not(:first-child) {
    margin-top: 1rem;
}

.loginLabel > *:not(:first-child) {
    margin-top: 0.5rem;
}

.loginLabel label {
    font-size: 0.875rem;
    line-height: 1.25rem;
    line-height: 1;
    font-weight: 500;
}

.loginInput {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-width: 1px;
    border-radius: var(--radius);
    width: 100%;
    height: 2.5rem;
    display: flex;
    grid-column: span 3 / span 3;
}

.loginInput:focus {
    border-color: var(--light-gray);
    box-shadow: 0 0 0 4px transparent;
    outline: 2px solid var(--blue);
    outline-offset: 2px;
}

.loginButtonContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.loginButton {
    padding: 0.5rem 1rem;
    background-color: var(--blue);
    font-weight: 500;
    color: var(--white);
    border-radius: var(--radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 100%;
}

.loginButton:hover {
    background-color: var(--blue-hover);
}
